body{
  background-color: #1b1b3f;
}
.userContainer{
  height: 400px;
  width: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: center;
align-items: center;  
align-content: center;
flex-wrap: wrap;
}
.inputDef{
  background-color: #333361;
  border-radius: 3px;
  color: white;
  border: none;
  outline: none;
  box-shadow:  0px 6px 12px #00000050;
  padding: 5px 25px;
}
.buttonDef{
   border-radius: 3px;
   background-color: #333361;
   color: white;
   font-family: sans-serif;
   font-size: 16px;
   padding: 5px 25px;
    box-shadow:  0px 6px 12px #00000050;
    border: none;
    margin: 5px 10px;
    outline: none;
}
.buttonDef:focus{
  outline: none;
}

table{
  list-style: none;
  width: 80%;
  color: rgb(64, 64, 175);
  font-size: 18px;
  

}
caption{
  caption-side: top;
}
th{
  color:rgb(64, 64, 175);
  border:1px solid rgb(64, 64, 175);
  padding: 5px 10px;
  font-size: 16px;

  
}

td{
  color:rgb(64, 64, 175);
  border:1px solid rgb(64, 64, 175);
  padding: 5px 10px;
  font-size: 16px;

}
td:nth-child(1) {
  width: 20%;
}
th:nth-child(1) {
  width: 20%;
}

